body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    align-items: center;
}

button {
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.box {
    padding: 0px 10px 10px 10px;
    text-align: center;
    max-width: 586px;
    min-width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffeed6;
    border-radius: 20px;
    
}

.title {
    font-weight: 800;
    margin: auto;
}

.espaco_botoes_filtros {
    display: flex;
    justify-content: space-around;
}

.botoes_filtros {
    background-color: #a7695d;
    font-weight: bold;
    font-size: medium;
    width: 133px;
    height: 37px;
    border-radius: 0px 20px 0px 20px;
    margin: 5px;
}

.tarefas {
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    height: auto;
}

.tarefa {
    padding: 10px;
    background-color: #CFCFCF;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.espaco_botao_tarefa {
    display: flex;
    gap: 10px;
}

.botoes_tarefa {
    border-radius: 20px;
    width: 80px;
    height: 30px;
}

.concluir {
    background-color: #229913;
}

.excluir {
    background-color: #c02424;
}

.fundo_desfocado {
    filter: blur(5px);
    transition: filter 0.3s ease-out;
}

/* .criar_tarefa_tela {
    display: none;
    z-index: 1;
    max-width: 500px;
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    background-color: #C58EFF;
    left: calc(50% - 500px/2);
    top: calc(50% - 500px/2);

}*/



.criar_tarefa_tela,
.filtrar_tela {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: #f3d3b8;
    max-width: 500px;
    min-width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .filtrar_tela {
    align-items: center;
}  */

.fechar {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    height: 30px;
    margin: 5px;
    width: 87%;
}

select {
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2px;
    border-radius: 20px;
    height: 30px;
    margin: 5px;
    width: 91%;
}

textarea {
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 20px;
    height: 293px;
    margin: 5px;
    width: 87%;
    resize: none;
}

.btn_criar_tarefa_tela, .btn_filtrar_tarefa_tela {
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: #a7695d;
    font-weight: bold;
    margin: 10px;
}

.selecao_de_datas_adicao, .selecao_de_datas_prazo {
    display: flex;
}

.prioridade {
    margin: 10px;
}

#overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(3px);
    display: none;
    z-index: 1;
}